[Unit]
Description=Gunicorn instance to serve mysite
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/itzuser/demoapp
Environment="PATH=/home/itzuser/demoapp/venv/bin"
ExecStart=/home/itzuser/demoapp/venv/bin/gunicorn --workers 3 --bind unix:demoapp.sock app:app